* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: "roboto", sans-serif;

  --txt-color: #e1e1e6;
}

body {
  background-image: url("./img/imgUniverse.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 6.3rem 0 0 10.2rem;
}

h2 {
  font-size: 4.8rem;
  color: var(--txt-color);
}

p {
  font-size: 1.8rem;
  line-height: 160%;
  color: var(--txt-color);
  font-weight: 400;
  max-width: 65rem;
}
